{% extends "home/base.html" %}

{% block content %}
    <br>
    <p><button class="btn btn-default" onclick="location.href='{% url 'create_post' %}'">New Post</button></p>
    <br>
    {% for item in items %}
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img src="http://via.placeholder.com/100x100" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
                </a>
            </div>
            <div class="col-md-10 col-sm-9">
                <h3>{{ item.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ item.content|truncatewords:30 }}</p>
                        <p><button class="btn btn-default" onclick="location.href='{% url 'post_details' item.id %}'">Read More</button></p>
                        <td>
                            <form action="{% url 'edit_post' item.id %}"><input type="submit" value="Edit"></form>
                        </td>
                        <p>{{ item.published_date }} | <strong>Views</strong> {{ item.views }} | <strong>Tag</strong> {{ item.tag }}</p>
                        <hr>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}